<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @test[:title] %> | Simpler application</title>
  </head>
  <body>
    <h1><%= @test[:title] %></h1>
    <h3>Level: <%= @test[:level] %></h3>
  </body>
</html>
